<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<link rel="stylesheet" href="../public/css/navbar.css">

    <!-- CUSTOM CSS -->
    <%- block('styles') %>
</head>
<body>
<header>
  <div class="header-content">
    <div class="logo">
      
      FontVerse
    </div>
<nav>
  <a href="/" class="<%= currentUrl === '/' ? 'active' : '' %>">
    <i class="fa-solid fa-house"></i> Home
  </a>
  <a href="/gallery" class="<%= currentUrl === '/gallery' ? 'active' : '' %>">
    <i class="fa-solid fa-images"></i> Gallery
  </a>
  <a href="/how-it-works" class="<%= currentUrl === '/how-it-works' ? 'active' : '' %>">
    <i class="fa-solid fa-gears"></i> How It Works
  </a>
  <a href="/technicality" class="<%= currentUrl === '/technicality' ? 'active' : '' %>">
    <i class="fa-solid fa-book"></i> Technicality
  </a>
    <a href="description.html" >
    <i class="fa-solid fa-file"></i> Description
  </a>
</nav>

  </div>
</header>

    
    <main>
        <%- body %>
    </main>
    
    <footer>
        <p>The goal of font pairing is to select fonts that share an overarching theme yet have a pleasing contrast.</p>
        <p>Which fonts work together is largely a matter of intuition, but we approach this problem with a neural net.</p>
        <a href="https://github.com/Xenostrike78/FontVerse" class="github-link" target="_blank">
            <span class="material-symbols-outlined">code</span>
            View on GitHub
        </a>
    </footer>
    <%- block('scripts') %>
</body>
</html>